<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MATCH!</title>

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Battle!</h1>
    <main class="container">
      <div class="row">
        <div class="col-xs-4" id="R0C0">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R0C1">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R0C2">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4" id="R1C0">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R1C1">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R1C2">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4" id="R2C0">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R2C1">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R2C2">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4" id="R3C0">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R3C1">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
        <div class="col-xs-4" id="R3C2">
          <div>
            <img src="/images/blank.jpg" class="img-responsive">
          </div>
        </div>
      </div>

    </main>
  </body>
</html>
