<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=.7">
    <title>MATCH!</title>

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/battle-app.js"></script>
  </head>

  <body class="game-body">
  <div class="row" id="game-info">
    <div class="player-1-score div-btn col-xs-3 col-sm-3 col-md-2">
      Player 1: 0
    </div>
    <div class="turn-counter div-btn col-xs-3 col-sm-3 col-md-2">
      Turn: 0
    </div>
    <div class="player-2-score div-btn col-xs-3 col-sm-2">
      Player 2: 0
    </div>

    <!-- <div class="div-btn" id="concede-btn">
      Concede
    </div> -->
  </div>
    <main id="board">

    </main>

    <!-- <section class="chatbox">
      <h1>Chat Here!</h1>
    </section> -->
    <!-- Hand goes here -->
    <div id="hand">
    </div>
      <!-- <div id="end-turn-btn" class="div-btn">
        End Turn
      </div> -->
  </body>
</html>
