<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="row">
      <div class="col-md-4 container">
        <section id="games-container">
          <h1>Games</h1>
          <article class="match-box">
            <header>
              <h2>Player 1 Vs. Player 2</h2>
            </header>
            <p> Match info here</p>
            <footer>
              <p>started 2 minutes ago</p>
            </footer>
          </article>
        </section>
      </div>
      <div class="col-md-5">
        <section class="container" id="chat-container">
        <h1>Chat</h1>
          <div class="forum">
            <nav>
              <ul class="chat-box">
                <% for (log of chatLog) { %>
                  <li style="padding:2px"><%= log %></li>
                <% } %>
              </ul>
            </nav>
            <form method="POST" action="/chat" style="padding:5px;position:relative;bottom:3px">
              <input type="text" name="post" style="width:74%">
              <input type="submit" value="Post" style="width:40px">
            </form>
          </div>
        </section>

        <section class="container" id="settings-container">
          <h1>Settings</h1>
          <form method="POST" action="/battle">
          <input type="submit" value="Play" class="div-btn" id="play-btn"></form>
          <form method="POST" action="/logout">
          <input type="submit" value="Logout" class="div-btn" id="logout-btn">
          </form>
          <div class="div-btn" id="register-btn" data-toggle="modal" data-target="#modal-register">Register</div>
          <div class="div-btn" id="login-btn" data-toggle="modal" data-target="#modal-login">Login</div>

        </section>
      </div>
    </div>

    <div id="modal-login" class="modal fade" role="login">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Login</h2>
        </div>
        <div class="modal-body">
          <form action="/login" method="POST">
            <label for="username">Username:</label></br>
            <input type="text" name="username"></br></br>
            <label for="password">Password:</label></br>
            <input type="password" name="password"></br></br>
            <input type="submit" value="Login">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-register" data-dismiss="modal">Register</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

      </div>
    </div>

    <div id="modal-register" class="modal fade" role="register">
      <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Register</h2>
        </div>
        <div class="modal-body">
          <form action="/register" method="POST">
            <label for="email">Email:</label></br>
            <input type="email" name="email"></br></br>
            <label for="username">Username:</label></br>
            <input type="text" name="username"></br></br>
            <label for="password">Password:</label></br>
            <input type="password" name="password"></br></br>
            <input type="submit" value="Register">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-login" data-dismiss="modal">Login</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

      </div>
    </div>

  </body>
</html>
