

.img-responsive {
  height: 15vh;
}

#end-turn-btn {
  position: absolute;
  cursor: pointer;
  left: 55%;
  bottom: 4%;
  width: 100px;
}

#concede-btn {
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 80px;
  width: 100px;
}

#board {
  margin-left: 10px;
  padding: 10px;
  display: block;
  border: 2px solid black;
}

.battle-row {
  margin: 0;
  padding: 0;
  border: 0;
}

.battle-col {
  height: 100px;
  width: 100px;
  margin: 0;
  padding: 4px;
  border: 1px solid black;
  display: inline-grid;
}

.card {
  position: absolute;
  bottom: 0px;
  transition: bottom $hand-transition-time, box-shadow $hand-transition-time;
  border-radius: 10px;
  overflow: hidden;
  height: 90px;
  width: 90px;
}

.enemy-card {
  transform: rotate(180deg);
}

.board-card {
  height: 90px;
  width: 90px;
  position: relative;
  border-radius: 10px;
  transition: width $hand-transition-time, margin-left $hand-transition-time;
}

.valid {
  box-shadow: 0 0 10px 2px $board-glow-color;
}

#hand {
  display: block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 60%;
  float: left;
}

.hand-card {
  padding: 10px;
  float: left;
  height: 105px;
  width: 40px;
  transition: width $hand-transition-time, margin-left $hand-transition-time;
}

.hand-card:hover, .hand-card.selected {
  width: 90px;
}

.hand-card:hover .card {
  bottom: 15px;
  box-shadow: 0 0 10px 2px $hand-glow-color;
  z-index: 10;
}

.hand-card.selected .card, {
  bottom: 17px;
  box-shadow: 0 0 10px 2px $hand-select-glow;
  z-index: 10;
  width: 90px;
}

.value-element {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 22px;
  height: 22px;
  padding-left: 5px;
  border-bottom-left-radius: 10px;
  border: inherit;
  background: white;
}

.pow {
  width: 0;
  height: 0;
  position: absolute;
}

.pow.pow-front {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-top: 15px solid white;
  top: 0;
  right: 35%;

  line-height: 20px;
}

.pow.pow-back {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid white;
  bottom: 0;
  right: 35%;
}

.pow.pow-right {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-right: 15px solid white;
  right: 0;
  top: 35%;
}

.pow.pow-left {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid white;
  left: 0;
  top: 35%;
}


