$background-color: #EEE;
$hand-glow-color: orange;
$hand-select-glow: red;
$hand-transition-time: 0.5s;
$board-glow-color: cyan;
$pale-gold: #C0B283;
$silk: #DCD0C0;
$paper: #F4F4F4;
$charcoal: #373737;
$lavender: #6D7993;
$dusty: #96858F;
$overcast: #9099A2;
