@import 'default-variables';
@import 'battle';
@import 'index';

body {
  background-color: $paper;

  h1 {
    color: #244751;
  }
}

.row {
  padding: 10px;
  margin: 0;

}

#game-info {
  margin: auto;
}

.chatbox {
  float: right;
  width: 20%;
  height: 60%;
}

.cus-container {
  background-color: $silk;
  border: 2px solid $charcoal;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.div-btn {
  margin: 5px;
  display: inline-block;
  border-radius: 5px;
  background-color: $pale-gold;
  border: solid 1px black;
  color: $charcoal;
  /*width: 120px;*/
  padding: 20px;
  opacity: 0.95;
  text-align: center;
  /*width: 10%*/
}

.div-btn:hover {
  opacity: 1;
  color: $paper;
}
