body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

.row {
  padding: 10px;
  /*max-height: 20vh;*/

}

#hand {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 60%;
}

.img-responsive {
  height: 15vh;
}

.handcard {
  padding: 10px
}

.container {
  float: left;
  width: 70%;
}

.chatbox {
  float: right;
  width: 30%;
  height: 60%;
}

#end-turn-btn {
  display: inline-block;
  position: absolute;
  left: 55%;
  bottom: 4%;
  border-radius: 5px;
  background-color: #eee;
  border: solid 1px black;
  color: #00a087;
  width: 100px;
  padding: 20px;
  opacity: 0.95;
  cursor: pointer;
  text-align: center;
}

#end-turn-btn:hover {
  opacity: 1;
  color: black;
}

#concede-btn {
  display: inline-block;
  position: absolute;
  right: 10%;
  top: 2%;
  border-radius: 5px;
  background-color: #eee;
  border: solid 1px black;
  color: #00a087;
  width: 100px;
  padding: 20px;
  opacity: 0.95;
  cursor: pointer;
  text-align: center;
}

#concede-btn:hover {
  opacity: 1;
  color: black;
}

#board {
  /*width: 50%;*/
  /*position: absolute;*/
  /*height: 80vh;*/
  /*margin: 10px 10px 10px 10px;*/
}

.card-holder {
  background: rgba(200,200,200,0.9);
  /*height: 400px;
  width: 200px;
  position: relative;*/
}

.card img {
  position: absolute;
  bottom: 0px;
  transition: bottom 0.5s, box-shadow 0.5s;
  border-radius: 10px;
}

.card:hover img {
  bottom: 30px;
  box-shadow: 0 0 10px 5px orange;
}
